* {
  font-family: "DM Sans", sans-serif;
}
header {
  display: flex;
  justify-content: center;
  flex-flow: column;
  align-items: center;
  width: 100%;
  color: rgba(208, 79, 79, 1);
}
h1 {
  margin: 0;
  font-size: 25px;
}
header img {
  height: 30px;
  width: 30px;
}
main {
  display: flex;
  flex-flow: column;
}
.search {
  display: flex;
  flex-flow: row wrap;
  gap: 10px;
}
.searchBar {
  background-color: lightgray;
  padding: 7px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.searchBar button {
  background: none;
  border: none;
  width: 5%;
}
.searchBar input {
  border: none;
  width: 95%;
  background-color: transparent;
}
textarea:focus,
input:focus {
  outline: none;
}
.filter {
  border-radius: 5px;
  width: 130px;
  padding: 10px;
  color: white;
  font-size: 15px;
}
._1 {
  background-color: rgb(53, 119, 224);
}
._2 {
  background-color: paleturquoise;
}
._3 {
  background-color: palevioletred;
}

